html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul,
ol,
li {
    list-style-type: none;
}


/*
    FLEX
*/

.flex,
.flex-j-end,
.flex-center,
.flex-column,
.flex-j-around,
.flex-j-bet,
.flex-j-center,
.flex-a-center,
.flex-start,
.flex-wrap {
    display: flex;
}

.flex-j-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-j-start {
    justify-content: flex-start;
}

.flex-column {
    flex-direction: column;
}

.flex-j-around {
    justify-content: space-around;
}

.flex-j-bet {
    justify-content: space-between;
}

.flex-j-center {
    justify-content: center;
}

.flex-a-center {
    align-items: center;
}

.flex-a-end {
    align-items: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.opacity-7 {
    opacity: 0.7;
}

button:focus {
    outline: 0;
}

.btn-rotate-180 {
    transform: rotate(180deg);
}