* {
    box-sizing: border-box;
}

body {
    background-color: #FFF;
}

.box {
    width: 90%;
    height: 200px;
    margin: 50px auto;
    background-color: #FFF;
    box-shadow: 2px 2px 5px 2px #DDD;
    font-family: 'Montserrat';
}

a {
    color: #333;
    text-decoration: none;
}

.box__header {
    width: 100%;
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.6px;
    background-color: rgb(111, 228, 199);
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 2px -2px #DDD;
}

.box__content {
    width: 100%;
    height: calc(100% - 45px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}

.card {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 2px 1px #DDD;
}

.card__header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
}

.card__img {
    position: relative;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-70%);
    background-size: 100%;
    background-repeat: no-repeat
}

.img__chrome {
    background-image: url('./img/chrome.svg');
}

.img__vlc {
    background-image: url('./img/vlc.svg');
}

.img__libre {
    background-image: url('./img/blank-file.svg');
}

.img__teamviewer {
    background-image: url('./img/teamviewer.svg');
}

.img__hp {
    background-image: url('./img/hp.svg');
}

.img__dell {
    background-image: url('./img/dell.svg');
}

.img__asus {
    background-image: url('./img/asus.svg');
}

.img__acer {
    background-image: url('./img/acer.svg');
}

.img__lenovo {
    background-image: url('./img/lenovo.svg');
}

.img__toshiba {
    background-position: 50%;
    background-image: url('./img/toshiba.svg');
}

.img__allegro {
    background-position: 50%;
    background-image: url('./img/allegro.png');
}